<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title><%- title %></title>

		<!-- jQuery -->
		<%- include ./../../../utils/jquery %>
		<!-- Materialize -->
		<%- include ./../../../utils/materialize %>
		<!-- AngularJS -->
		<%- include ./../../../utils/angular %>
		<!-- Font Smoothing -->
		<%- include ./../../../utils/font-smoothing %>

		<!-- other stylesheets -->
		<link rel="stylesheet" href="/stylesheets/style2.css" media="screen" title="no title" charset="utf-8">
		<link rel="stylesheet" href="/stylesheets/style3.css" media="screen" title="no title" charset="utf-8">
		<link rel="stylesheet" href="/stylesheets/perfect-scrollbar.css" media="screen" title="no title" charset="utf-8">

		<!-- other scripts -->
		<script type="text/javascript" src="/javascripts/utils/jquery.shuffleLetters.js"></script>
		<script type="text/javascript" src="/javascripts/utils/prism.js"></script>
		<script type="text/javascript" src="/javascripts/utils/transition.js"></script>
		<script type="text/javascript" src="/javascripts/utils/plugins.js"></script>
		<script type="text/javascript" src="/javascripts/utils/perfect-scrollbar.js"></script>

		<!-- Angular -->
		<script type="text/javascript" src="/javascripts/app/teacher/randomize/randomize.controller.js"></script>
		<script type="text/javascript" src="/javascripts/app/teacher/randomize/randomize.service.js"></script>
		<!-- REFERENCE: http://codepen.io/rusjames/pen/uAFhE -->

		<style>
		#typewriter{
		  font-size: 80%;
		  margin-left: 37%;
		  white-space: nowrap;
		  overflow: hidden;
		  width: 30em;
		  animation: type 7s steps(60, end);

		  font-family: "Courier";
		  animation: type 4s steps(60, end);
		}

		#line{
		  animation: blink 1s infinite;
		}

		@keyframes type{
		  from { width: 0; }
		}

		@keyframes blink{
		  to{opacity: .0;}
		}
		li.indicator-item.active{
			visibility: hidden;
		}
		body{
			    background: white;
		}
		</style>
	</head>
	<body ng-app="TeacherApp" ng-controller="RandomizeCtrl">
		<div id="loader-wrapper">
			<div id="loader"></div>
			<div class="loader-section section-left" style="background-color:white"></div>
			<div class="loader-section section-right" style="background-color:white"></div>
		</div>
		<!-- Navigation Bar -->
		<% include ./../../partials/navbar-class %>

		<div class="" hidden="hidden" id="courseno">
		<%= course.courseno %>
		</div>
		<div class="" hidden="hidden" id="lecturesection">
		<%= course.lecturesection %>
		</div>

		<br/>
		<br/>
		<!-- Main controller for visibility -->
		<div ng-show>
			<div class="container centered" style="text-align:center">
				<a class="waves-effect waves-light col s12 btn <%= colorScheme %> darken-3 modal-trigger" href="#modal1" style="margin-left:30px;">
					Filter<i class="material-icons right">settings</i>
				</a>
				<span style="margin-left:4%;margin-right:2%;font-size:150%;"> OR </span>
				<a class="waves-effect waves-light col s12 btn <%= colorScheme %> darken-3 modal-trigger" href="#modal3" style="margin-left:30px; font-size:15px;">
					RISK ZONE
				</a>
				<a class="waves-effect waves-light col s12 btn <%= colorScheme %> darken-3 modal-trigger" href="#modal4" style="margin-left:30px; font-size:15px;">
					SAFE ZONE
				</a>
			</div>
			<br/>
			<br/>
				<div id="modal1" class="modal" style="max-width:700px">
					<form ng-submit="promptOkay()">

				<div class="modal-content">

				  <blockquote class="dashdesign">
					  <h4>Filter Settings</h4>
					  <p>
						  It allows filtering students generated from the randomizer in accord with the configurations below.
						  This functionality does <strong>not work hand in hand</strong> with Risk Zone and Safe Zone.
					  </p>
				  </blockquote>
					  <div class="input-field col s3">
		  			<span>Section</span><br />
		  			<input type="text" placeholder="1 to N number of sections" ng-model="section" />
		  			</div>

		  			<p>
		  			<span>Sex<br /></span>
		  			<input type="text" ng-model="sex" placeholder="F or M" pattern="F|M" title="F or M only" />
		  			</p>
		  			<p>
		  			<span>Batch<br /></span>
		  			<input type="text" ng-model="batch" pattern="\d{4,4}" title="Enter a year, e.g. 2013"/>
		  			</p>
		  			<p>
		  			<span>Degree Program<br /></span>
		  			<input type="text"ng-model="degreeProgram" pattern="[a-zA-Z]+" title="Alphanumeric characters only"/>
		  			</p>
		  			<p>
		  			<span>College<br /></span>
		  			<input type="text" ng-model="college" pattern="[a-zA-Z]+" title="Alphanumeric characters only"/>
		  			</p>


				</div>
				<div class="modal-footer">
					<div class="container">
						<div class="col s6">
							<button class="waves-effect waves-green <%= colorScheme %> btn" type="submit">SAVE OPTIONS</button>
						</div>
						<div class="col s6">
							<button class="modal-action modal-close waves-effect waves-green <%= colorScheme %> btn" style="margin-right:20px;">DONE</button>
						</div>
					</div>

				</div>
			</form>

			  </div>


			   <div id="modal3" class="modal">
				<div class="modal-content">
					<blockquote class="dashdesign">
						<h4>RISK ZONE</h4>
						<p>
							This option makes sure that the students included in the list below are <strong>exposed to being randomized</strong>.
						</p>
					</blockquote>
				<button class="waves-effect waves-green <%= colorScheme %> btn" style="margin-right:5%;" ng-repeat="sec in lrSectionList" ng-click="showStudentsbyLrSection(sec)">{{sec.lrsection}} L</button>
				<br />
				<table class="responsive-table">
					<thead>
						<tr>
							<th>First Name</th>
							<th>Middle Name</th>
							<th>Last Name</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="namesBySection in studentNamesInLrSection">
							<td>{{namesBySection.fname}}</td>
							<td>{{namesBySection.mname}}</td>
							<td>{{namesBySection.lname}}</td>
							<td><button class="waves-effect waves-green <%= colorScheme %> btn" ng-click="addNamesToTable(namesBySection)">ADD</button></td>
						</tr>
					</tbody>
				</table>
				<table  class="responsive-table">
					<thead>
						<tr>
							<th>First Name</th>
							<th>Middle Name</th>
							<th>Last Name</th>
							<th>Delete</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="names in studentNames track by $index">
							<td>{{names.fname}}</td>
							<td>{{names.mname}}</td>
							<td>{{names.lname}}</td>
							<td><button class="waves-effect waves-green <%= colorScheme %> btn" ng-click="deleteAName(names)">DELETE</button></td>
						</tr>
					</tbody>
				</table>
				</div>
				<div class="modal-footer">
				  <button class="modal-action modal-close waves-effect waves-green <%= colorScheme %> btn" ng-click="buroStudents()">DONE</button>
				</div>
			  </div>

				<div id="modal4" class="modal">
				<div class="modal-content">
					<blockquote class="dashdesign">
						<h4>SAFE ZONE</h4>
						<p>
							This option makes sure that the students included in the list below are <strong>safe from being randomized</strong>.
						</p>
					</blockquote>
				<button class="waves-effect waves-green <%= colorScheme %> btn" style="margin-right:5%;" ng-repeat="sec in lrSectionList" ng-click="showStudentsbyLrSection(sec)">{{sec.lrsection}} L</button>
				<br />
				<table class="responsive-table">
					<thead>
						<tr>
							<th>First Name</th>
							<th>Middle Name</th>
							<th>Last Name</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="namesBySection in studentNamesInLrSection">
							<td>{{namesBySection.fname}}</td>
							<td>{{namesBySection.mname}}</td>
							<td>{{namesBySection.lname}}</td>
							<td><button class="waves-effect waves-green <%= colorScheme %> btn" ng-click="addNamesToTable2(namesBySection)">ADD</button></td>
						</tr>
					</tbody>
				</table>
				<table  class="responsive-table">
					<thead>
						<tr>
							<th>First Name</th>
							<th>Middle Name</th>
							<th>Last Name</th>
							<th>Delete</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="names2 in studentNames2 track by $index">
							<td>{{names2.fname}}</td>
							<td>{{names2.mname}}</td>
							<td>{{names2.lname}}</td>
							<td><button class="waves-effect waves-green <%= colorScheme %> btn" ng-click="deleteAName2(names2)">DELETE</button></td>
						</tr>
					</tbody>
				</table>
				</div>
				<div class="modal-footer">
				  <button class="modal-action modal-close waves-effect waves-green <%= colorScheme %> btn" ng-click="buroStudents()">DONE</button>
				</div>
			  </div>
			   <p style="margin-left:40%;margin-top:2%;">
		 			Number of students: <input type="number" class="form-control" style="height:30px; width:10%;" placeholder="  N" ng-model="N" min="1" max="{{ no_students }}">
		 		</p>

	    		<div class="container">
					<div class="col mid s6" style="border-style:solid; border-color:<%= colorScheme %>; height:250px; width:80%;background-color:white; margin:auto; overflow:auto;">

				        <div style="font-weight:bold; font-size:30px; align:center; color:black;">
			        		<div ng-repeat="student in randomizedStudents">
								<p id="typewriter">{{student.fname}} {{student.lname}}</p>
							</div>
							<p id="line" style="text-align:center;">|</p>
			        	</div>

					</div>
	    		</div>
	    		<button class="waves-effect btn-large <%= colorScheme %> darken-3" style="margin-left:42%;margin-top:1%;margin-bottom:2%;" ng-click="randomize()">RANDOMIZE</button>
	    		<div style="width:80%;margin:auto;"><img src="/images/typewriter.png" style="display:block;margin-left:auto;margin-right:30%"></div>

		</div>
		<!-- end of main controller for visibility -->

		<!-- if number of students is zero! -->
		<div ng-show="true" class="container center">
			<div class="card-panel <%= colorScheme %> lighten-1 z-depth-2" style="max-width: 500px; color: white; margin:auto">
      				<h4>Students not found.</h4>
      				It seems that <%= course.courseno %> <%= course.lecturesection %> has still no students. <br>
      				Go to <strong><a href="./add-student" style="color:white;">add student page</a></strong>.
			 </div>
		</div>
	</body>
</html>
`
