<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title><%- title %></title>

		<!-- jQuery -->
		<%- include ./../../utils/jquery %>
		<!-- Materialize -->
		<%- include ./../../utils/materialize %>
		<!-- AngularJS -->
		<%- include ./../../utils/angular %>
		<!-- Font Smoothing -->
		<%- include ./../../utils/font-smoothing %>

		<!-- other stylesheets -->
		<link rel="stylesheet" href="/stylesheets/style3.css" media="screen" title="no title" charset="utf-8">
		<link rel="stylesheet" href="/stylesheets/perfect-scrollbar.css" media="screen" title="no title" charset="utf-8">

		<!-- other scripts -->
		<script type="text/javascript" src="/javascripts/utils/plugins.js"></script>
		<script type="text/javascript" src="/javascripts/utils/perfect-scrollbar.js"></script>
		<script type="text/javascript" src="/javascripts/utils/jquery.dataTables.min.js"></script>
		<script type="text/javascript" src="/javascripts/utils/data-tables-script.js"></script>
	</head>
	<body ng-app="TeacherApp" ng-controller="HistoryCtrl" style="padding-bottom: 80px;">
		<div id="loader-wrapper">
			<div id="loader"></div>
			<div class="loader-section section-left" style="background-color:white"></div>
			<div class="loader-section section-right" style="background-color:white"></div>
		</div>
		<%- include ./../partials/navbar-class %>
		<!-- Loading Page -->
		<div id="loader-wrapper">
	          <div id="loader"></div>
	          <div class="loader-section section-left" style="background-color:white;"></div>
	          <div class="loader-section section-right" style="background-color:white;"></div>
	      </div>
		<h1 class="center">History</h1>
		<div class="divider">

		</div>
		<div class="container center" >
			<br>
			<div class="container center">
				<input ng-model="searchquery" style="max-width:500px" type="text" name="name" placeholder="Search" pattern="[a-zA-Z0-9:]*" title="Alphanumeric characters and underscores only">
			</div>
			<br>
			<table class="bordered striped highlight" style="max-width:900px; margin:auto">
				<thead>
					<tr>
						<th data-field="date" style="padding-left:20px;">Date</th>
						<th data-field="time">Time</th>
						<th data-field="student">Student Randomized</th>
						<th data-field="section">Section</th>
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat="log in logs | filter:searchquery">
						<td style="padding-left:20px;">{{ log.date }}</td>
						<td>{{ log.time }}</td>
						<td>{{ log.student_info }}</td>
						<td>{{ log.section }}L</td>
					</tr>

				</tbody>
			</table>

		</div>

	</body>
	<!-- ANGULAR FILES | Service and Controller -->
	<script type="text/javascript" src="/javascripts/app/teacher/class/history.controller.js"></script>
	<script type="text/javascript" src="/javascripts/app/teacher/teacher.service.js"></script>

	<script>
        $(function(){
          $("#data-table-row-grouping").dataTable();
        })
    </script>


</html>
