<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title><%- title %></title>

		<!-- jQuery -->
		<%- include ./../../utils/jquery %>
		<!-- Materialize -->
		<%- include ./../../utils/materialize %>
		<!-- AngularJS -->
		<%- include ./../../utils/angular %>
		<!-- Font Smoothing -->
		<%- include ./../../utils/font-smoothing %>

		<!-- other stylesheets -->
		<link rel="stylesheet" href="/stylesheets/style3.css" media="screen" title="no title" charset="utf-8">
		<link rel="stylesheet" href="/stylesheets/perfect-scrollbar.css" media="screen" title="no title" charset="utf-8">

		<!-- other scripts -->
		<script type="text/javascript" src="/javascripts/utils/plugins.js"></script>
		<script type="text/javascript" src="/javascripts/utils/perfect-scrollbar.js"></script>

		<!-- ANGULAR FILES | Service and Controller -->
		<script type="text/javascript" src="/javascripts/app/teacher/class/student.controller.js"></script>
		<script type="text/javascript" src="/javascripts/app/teacher/teacher.service.js"></script>

	</head>
	<body ng-app="TeacherApp" ng-controller="StudentCtrl">
		<div id="loader-wrapper">
			<div id="loader"></div>
			<div class="loader-section section-left" style="background-color:white"></div>
			<div class="loader-section section-right" style="background-color:white"></div>
		</div>
		<%- include ./../partials/navbar-class %>

		<div class="" hidden="hidden" id="courseno">
			<%= course.courseno %>
		</div>
		<div class="" hidden="hidden" id="lecturesection">
			<%= course.lecturesection %>
		</div>

		<!-- Modal Structure -->
		<div id="EditModal" class="modal">
			<form class="col s12" ng-submit="EditStudent()">

				<div class="modal-content">
				<h4>Edit Student</h4>

				<div class="divider"></div>
				<div class="container row">
						<div class="input-field col s4">
							<input  type="text" ng-model="student.fname" id="fname" class="validate" required="required"/>
							<label class="active" for="fname">First Name</label>
						</div>
						<div class="input-field col s4">
							<input  type="text" ng-model="student.mname" id="mname" class="validate" required="required"/>
							<label class="active" for="mname">Middle Name</label>
						</div>
						<div class="input-field col s4">
							<input  type="text" ng-model="student.lname" id="lname" wclass="validate" required="required"/>
							<label class="active" for="lname">Last Name</label>
						</div>

						<div class="input-field col s6">
							<input  type="text" ng-model="student.studentno" id="studentno" class="validate" required pattern="\d{4}-\d{5}" title="e.g. 2013-12345"/>
							<label class="active" for="studentno">Student Number</label>
						</div>
						<div class="input-field col s6">
							<input  type="text" ng-model="student.degcourse" id="degcourse" class="validate" required="required"/>
							<label class="active" for="degcourse">Degree Course</label>
						</div>

						<div class="input-field col s6">
							<input  type="text" ng-model="student.college" id="college" class="validate" required="required"/>
							<label class="active" for="college">College</label>
						</div>

						<div class="input-field col s6">
							<input  type="text" ng-model="student.sex" id="sex" class="validate" required pattern="(Male|Female)" title="e.g. Male or Female"/>
							<label class="active" for="sex">Sex</label>
						</div>

						<div class="input-field col s6">
							<input id="lrsection" type="number" min="1" max="{{sectionslimit}}" class="validate" ng-model="student.lrsection" class="form-control" required>
							<label class="active" for="lrsection">Lab/Recit Section</label>
						</div>

						<div class="input-field col s6">
							<input  type="text" ng-model="student.seatno" id="seatno" class="validate" required pattern="[A-G][0-9]{1,2}" title="e.g. A1"/>
							<label class="active" for="seatno">Seat Number (A-G and 1-15)</label>
						</div>

						<div class="file-field input-field col s6">
							<div class="waves-effect waves-light <%= colorScheme %> darken-3 btn">
								<span>Picture</span>
								<input id="uploadPicBtn" type="file" name='file' accept=".jpeg,.jpg,.png" file-model="student.pictureFile"/>
							</div>
							<div class="file-path-wrapper">
								<input class="file-path validate" type="text">
							</div>
						</div>

					</div>
				</div>
				<div class="modal-footer">
					<input type="submit" class="waves-effect waves-green btn-flat" value="Save Changes"/>
					<a href="#!" class=" modal-action modal-close waves-effect waves-white btn-flat">Back</a>
				</div>
			</form>
		</div>

		<div class="container">
			<div class="center">
				<h3 style="opacity:.7;">STUDENTS</h3>
			</div>
			<div class="divider">

			</div>


				<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a href="./add-student" class="btn-floating btn-large <%= colorScheme %> darken-3 tooltipped" data-tooltip="Add Students" data-position="left">
      <i class="large material-icons">perm_identity</i>
    </a>

  </div>
			<div class="container" >
				<ul class="collapsible" data-collapsible="accordion">
					<li ng-repeat="student in students">
						<div class="collapsible-header">
							{{student.lname + ", " + student.fname + " " + student.mname}}
						</div>
						<div class="collapsible-body">
							<div class="row">
								<div class="col">
									<div class="container">
										<img ng-src="{{student.picture}}" alt="{{student.studentno}}" height="250" width="250">
									</div>
								</div>
								<div style="col margin-left:200px;">
									<br/>Student No.: {{student.studentno}}
									<br/>Name: {{student.fname + " " + student.mname + " " + student.lname}}
									<br/>Degree Course: {{student.degcourse}}
									<br/>College: {{student.college}}
									<br/>Sex: {{((student.sex | lowercase) == 'm')? 'Male':'Female'}}<br/>
									<br/>Lab Section: {{ student.lrsection + "L"}}
									<br/>Seat Number: {{ student.seatno }}<br/><br/>

									<a href="#"  ng-click="ToggleEdit(student, $index)">
										<i class="material-icons" style="color:grey">settings</i>
									</a>

									<a href="#"  ng-click="DeleteStudent(student, $index)">
										<i class="material-icons" style="color:grey">delete</i>
									</a>

									</br></br>
								</div>
							</div>


						</div>
					</li>

				</ul>
			</div>


		</div>


		<div class="" hidden="hidden" id="courseno">
			<%= course.courseno %>
		</div>
		<div class="" hidden="hidden" id="lecturesection">
			<%= course.lecturesection %>
		</div>
	</body>
	<!-- ANGULAR FILES | Service and Controller -->
	<script type="text/javascript" src="/javascripts/app/teacher/class/student.controller.js"></script>
	<script type="text/javascript" src="/javascripts/app/teacher/teacher.service.js"></script>
</html>
