<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title><%- title %></title>

		<!-- jQuery -->
		<%- include ./../utils/jquery %>
		<!-- Materialize -->
		<%- include ./../utils/materialize %>
		<!-- AngularJS -->
		<%- include ./../utils/angular %>
		<!-- Font Smoothing -->
		<%- include ./../utils/font-smoothing %>

		<!-- other stylesheets -->
		<link rel="stylesheet" href="/stylesheets/style2.css" media="screen" title="no title" charset="utf-8">
		<link rel="stylesheet" href="/stylesheets/style3.css" media="screen" title="no title" charset="utf-8">
		<link rel="stylesheet" href="/stylesheets/perfect-scrollbar.css" media="screen" title="no title" charset="utf-8">

		<!-- other scripts -->
		<script type="text/javascript" src="/javascripts/utils/plugins.js"></script>
		<script type="text/javascript" src="/javascripts/utils/perfect-scrollbar.js"></script>
	</head>
	<body >

		<!-- Navigation Bar -->
		<% include partials/navbar-dashboard %>
		<div class="container">
			<h1>HELP!</h1>

		</div>
	</body>
</html>
`
