
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title><%- title %></title>

		<!-- jQuery -->
		<%- include ./../../utils/jquery %>
		<!-- Materialize -->
		<%- include ./../../utils/materialize %>
		<!-- AngularJS -->
		<%- include ./../../utils/angular %>
		<!-- Font Smoothing -->
		<%- include ./../../utils/font-smoothing %>

		<!-- other stylesheets -->
		<link rel="stylesheet" href="/stylesheets/style2.css" media="screen" title="no title" charset="utf-8">
		<link rel="stylesheet" href="/stylesheets/style3.css" media="screen" title="no title" charset="utf-8">
		<link rel="stylesheet" href="/stylesheets/perfect-scrollbar.css" media="screen" title="no title" charset="utf-8">

		<!-- other scripts -->
		<script type="text/javascript" src="/javascripts/utils/plugins.js"></script>
		<script type="text/javascript" src="/javascripts/utils/perfect-scrollbar.js"></script>
	</head>
	<body ng-app="TeacherApp" style="padding-bottom:400px;">
		<div id="loader-wrapper">
			<div id="loader"></div>
			<div class="loader-section section-left" style="background-color:white"></div>
			<div class="loader-section section-right" style="background-color:white"></div>
		</div>
		<!-- Navigation Bar -->
		<% include ./../partials/navbar-dashboard %>

		<div class="container">
			<!-- ADD CONTROLLWER FOR EDIT PROFILE -->
			<div class="row " ng-controller="ProfileCtrl">
				<div class="col s12">
					<br/>
					<a href="/teacher" class=" btn-floating btn-large waves-effect waves-light <%= colorScheme %>  btn"><i class="material-icons">chevron_left</i></a>
					<br/>
					<div style="max-width:700px; margin:auto;">
						<h3 style="text-align:center;">Edit Profile</h3>
						<div class="divider"></div>
						<div class="section">
							<h5>Update Profile</h5>
							<form class="col s12" ng-submit="UpdateProfile(teacher)" id="up">
								<div class="row">
									<div class="input-field col s3">
										<input class="validate" ng-model="teacher.fname" type="text" id="fname" value="" required="" pattern="[a-zA-Z\.]{1,30}" title="Alphanumeric characters only">
										<label class="active" for="fname">First Name</label>
									</div>
									<div class="input-field col s3">
										<input class="validate" ng-model="teacher.mname" type="text" id="mname" value="" required="" pattern="[a-zA-Z\.]{1,30}" title="Alphanumeric characters only">
										<label class="active" for="mname">Middle Name</label>
									</div>
									<div class="input-field col s3">
										<input class="validate" ng-model="teacher.lname" type="text" id="lname" value="" required="" pattern="[a-zA-Z\.]{1,30}" title="Alphanumeric characters only">
										<label class="active" for="lname">Last Name</label>
									</div>
									<div class="input-field col s3">
										<input class="btn btn-small <%= colorScheme %>" type="submit" name="name" value="Update">
									</div>
								</div>
							</form>
						</div>
						<div class="divider"></div>
						<div class="section">
							<h5>Update Username</h5>
							<form class="col s12" ng-submit="UpdateUsername(new_username)" id="uu">
								<div class="row">
									<div class="input-field col s9">
										<input ng-model="new_username" class="validate" type="text" id="username" value="" required="" pattern="[a-zA-Z\.0-9_]{6,30}" title="6 or more alphanumeric characters only">
										<label class="active" for="username">Username</label>
									</div>
									<div class="input-field col s3">
										<input class="btn btn-small <%= colorScheme %>" type="submit" name="name" value="Update">
									</div>
								</div>
							</form>
						</div>
						<div class="divider"></div>
						<div class="section">
							<h5>Update password</h5>
							<form class="col s12" ng-submit="UpdatePassword(pass1, pass2)" id="upw">
								<div class="row">
									<div class="input-field col s5">
										<input class="validate" ng-model="pass1" type="password" id="pass1" value="" required="" pattern="[a-zA-Z\.0-9_]{8,30}" title="8 or more characters (Alphanumeric, underscores)">
										<label class="active" for="pass1">New Password</label>
									</div>
									<div class="input-field col s4">
										<input class="validate" ng-model="pass2" type="password" id="pass2" value="" required="" pattern="[a-zA-Z\.0-9_]{8,30}" title="8 or more characters (Alphanumeric, underscores)">
										<label class="active" for="pass2=">Retype new password</label>
									</div>
									<div class="input-field col s3">
										<input class="btn btn-small <%= colorScheme %>" type="submit" name="name" value="Update">
									</div>
								</div>
							</form>

						</div>

						<div class="divider"></div>
						<div class="section">
							<h5>Change Color Scheme</h5>
							<form class="col s12" ng-submit="changeColor()">
								<div class="input-field col s12 m6">
									<select class="icons" ng-model="colorScheme" id="colorr">
										<option value="" disabled="disabled" selected="">Choose a color</option>
										<option value="red" data-icon="/images/colors/red.png" class="circle">Red</option>
										<option value="pink" data-icon="/images/colors/pink.png" class="circle">Pink</option>
										<option value="purple" data-icon="/images/colors/purple.png" class="circle">Purple</option>
										<option value="deep-purple" data-icon="/images/colors/deep-purple.png" class="circle">Deep-Purple</option>
										<option value="indigo" data-icon="/images/colors/indigo.png" class="circle">Indigo</option>
										<option value="blue" data-icon="/images/colors/blue.png" class="circle">Blue</option>
										<option value="light-blue" data-icon="/images/colors/light-blue.png" class="circle">Light-Blue</option>
										<option value="cyan" data-icon="/images/colors/cyan.png" class="circle">Cyan</option>
										<option value="teal" data-icon="/images/colors/teal.png" class="circle">Teal</option>
										<option value="green" data-icon="/images/colors/green.png" class="circle">Green</option>
										<option value="light-green" data-icon="/images/colors/light-green.png" class="circle">Light-Green</option>
										<option value="lime" data-icon="/images/colors/lime.png" class="circle">Lime</option>
										<option value="yellow" data-icon="/images/colors/yellow.png" class="circle">Yellow</option>
										<option value="amber" data-icon="/images/colors/amber.png" class="circle">Amber</option>
										<option value="orange" data-icon="/images/colors/orange.png" class="circle">Orange</option>
										<option value="deep-orange" data-icon="/images/colors/deep-orange.png" class="circle">Deep-Orange</option>
										<option value="brown" data-icon="/images/colors/brown.png" class="circle">Brown</option>
										<option value="grey" data-icon="/images/colors/grey.png" class="circle">Grey</option>
										<option value="blue-grey" data-icon="/images/colors/blue-grey.png" class="circle">Blue-Grey</option>
										<option value="black" data-icon="/images/colors/black.png" class="circle">Black</option>
									</select>
									<label for="colorr">Color Scheme</label>
								</div>
								<div class="input-field col s12 m6">
									<input type="submit" name="name" class="btn <%= colorScheme %> darken-1" value="Change Color">
								</div>
							</form>
						</div>

					</div>
				</div>
			</div>
		</div>
		<!-- ANGULAR FILES | Service and Controller -->
		<script type="text/javascript" src="/javascripts/app/teacher/profile.controller.js"></script>
		<script type="text/javascript" src="/javascripts/app/teacher/teacher.service.js"></script>
		<!-- Other Scripts -->
	</body>
</html>
